.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  mask-size: cover;
}
