@import "../themes";

.img1 {
  background: url("/illustrations/clients.svg") no-repeat center/contain;
  width: 100%;
  user-select: none;
  min-height: 205px;
}

.img2 {
  background: url("/illustrations/providers.svg") no-repeat center/contain;
  width: 100%;
  user-select: none;
  min-height: 205px;
}

.img3 {
  background: url("/illustrations/providers2.svg") no-repeat center/contain;
  width: 100%;
  user-select: none;
  min-height: 230px;
}

.iconList {
  li {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    i {
      width: 20px;
      height: 20px;
      vertical-align: text-bottom;
    }

    span {
      margin-left: 14px;
    }
  }
}

.caption {
  @include themify() {
    color: t('text-disabled');
  }

  &.jumbotronText {
    margin-top: 20px;
    margin-bottom: 48px;
  }
}

.slCard {
  padding: 30px 61px 30px 30px;
  border-radius: 32px;

  @include themify() {
    background: t('bg-secondlayer');
  }
}

@media (max-width: 480px) {
  .caption.jumbotronText {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .slCard {
    padding: 20px 10px 20px 20px;
  }
}
