.city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 212px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 30px;
  border-radius: 32px;

  &>div {
    display: flex;
    justify-content: space-between;

    p {
      color: #ccc;
      margin-bottom: 8px;
    }

    button {
      width: 48px;
      height: 48px;
      padding: 0;
      margin-top: 8px;
    }

    span {
      font-size: 20px;
      line-height: 1;
    }

    i {
      width: 21px;
      height: 13.5px;
      margin-bottom: 3px;
    }
  }
}

@media (max-width: 480px) {
  .city {
    height: 184px;
    padding: 20px;
    border-radius: 16px;
  }
}
