@import "articlecard.module";

.padded {
  padding: 16px;
}

.textDisabled {
  @include themify() {
    color: t('text-disabled');
  }
}

.buttonLine {
  display: flex;
  gap: 3px;

  &>div:first-child {
    flex-grow: 1;
  }

  div:first-child button {
    width: 100%;
  }

  button {
    padding: 14px;
  }

  div:last-child button {
    padding: 12px;
  }
}

.bodyBg>div:first-child {
  @include themify() {
    background: t('body-bg');
  }
}
